.wrapper-virus{
	background: white;
	z-index: 99999;
	position: absolute;
	width:100% !important;
	height:100% !important;
	top:-1px;
	background-image: url("https://s3-eu-west-1.amazonaws.com/codepen-assests/paper.jpg");
	  background-repeat: repeat;
	  font-family: 'Special Elite', cursive;
	  padding: 50px 10% 130px;
	   min-height:100%;
 	opacity:0.9;

  	display: table;
 	width: 100%;
}


html{
  height: 100%;
}


#quoteBlock {
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  min-height: 90%;
  margin-bottom: 50px;
  display: table-cell;
  vertical-align: middle;
}

#quote {
  font-size: 2.2em;
  line-height: 1.3em;
}

#author {
  font-size: 1.3em;
  margin-top: 50px;
}

.controls {
  font-size: 1.5em;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
}

#controls-container {
  text-align: center;
  position: absolute;
  left: 0;
  right:0;
  bottom: 50px;
}